
#card{
    border: 10px solid orange;
    width: 400px;
    height: fit-content;
    background-color: white;
    margin: auto;
}

.list{
    display: flex;
    flex-direction: column;
    text-align: center;
}